*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif
}

header{
    width: 1400px;
    padding: 8px 3rem;
    position: relative;
}
.logo > img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    vertical-align: auto;
    margin-bottom: -12px;
}
h1{
    margin-top: -5px;
}
.button{
    position: absolute;
    right: 80px;
    top: 20px;
}
.container{
    background-color: aquamarine;
    padding: 4rem;
}

.row{
    width: 1000px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

footer > div{
    padding: 8px 3rem ;
}